@use '../variables' as *;

.about-wrapper {
    pointer-events: none;
    margin: 240px auto 60px;
    padding: 60px;
    max-width: 1366px;
    color: $main-color;
    @include sm {
        margin: 150px 0 0;
        padding: 30px;
    }

    .about-logo img {
        position: absolute;
        width: 800px;
        margin: -300px -150px;
        z-index: $z-behind-content;
        @include md {
            width: 500px;
            margin: -180px -100px;
        }
        @include sm {
            width: 300px;
            margin: -120px -50px;
        }
    }

    .about-title-wrapper {
        text-align: end;
        .about-title {
            background-repeat: no-repeat;
            background-size: 0% 30%;
            background-position: 10px bottom;
            background-image: linear-gradient(135deg, #8DD1FF, #2A5CC1);
            display: inline;
            transition: background-size $transition-bezier 1.2s;
            &.in-view {
                background-size: 100% 30%;
            }
            @include md {
                font-size: 60px;
            }
            @include sm {
                font-size: 48px;
            }
        }
        h4 {
            margin-top: 40px;
            @include md {
                font-size: 28px;
            }
            @include sm {
                font-size: 20px;
                margin-top: 30px;
            }
        }
    }

    .about-content {
        text-align: center;
        margin: 300px 0 150px;
        @include md {
            margin: 240px 0 120px;
        }
        @include sm {
            margin: 150px 0 70px;
        }
        h2 {
            margin-bottom: 60px;
            @include md {
                margin-bottom: 40px;
            }
        }
        a {
            color: #181818;
            transition: all $transition-normal;
            &:hover {
                opacity: .5;
            }
        }
    }

    .about-block {
        display: flex;
        @include md {
            display: inline;
        }
        .about-tools {
            padding: 150px 0;
            border-top: solid 1px #DCDCDC;
            border-bottom: solid 1px #DCDCDC;
            width: 100%;
            transition: background-size $transition-bezier 1.2s;
            @include md {
                padding: 100px 0;
            }
            @include sm {
                padding: 50px 0;
            }
            h2 {
                margin-bottom: 60px;
                @include md {
                    margin-bottom: 40px;
                }
            }
            li {
                background: $white;
                padding: .4em .6em;
                margin: 6px;
                border-radius: 6px;
            }
        }
    }
}

.contact {
    padding: 150px 0 0;
    border-top: solid 1px #DCDCDC;
    @include md {
        padding: 100px 0 0;
    }
    @include sm {
        padding: 50px 0 0;
    }
    h2 {
        margin-bottom: 60px;
        @include md {
            margin-bottom: 40px;
        }
    }
    p {
        margin-top: 20px;
    }
    .required::after {
        content: "*";
        position: absolute;
        margin: -3px 0 0 3px;
        font-weight: 700;
        color: #c5614f;
    }
    input,textarea {
        margin: 5px 0;
    }
    .contact-button {
        margin-top: 60px;
        text-align: right;
        @include md {
            margin-top: 40px;
            text-align: center;
        }
    }
    button {
        color: $white;
        background: $main-color;
        border: solid 2px $main-color;
        font-size: 17px;
        font-weight: 600;
        padding: 20px 60px;
        border-radius: $radius-pill;
        transition: $transition-normal;
        @include md {
            font-size: 15px;
            padding: 15px 40px;
        }
        &:hover {
            color: $main-color;
            background: $white;
        }
    }
}
