@use '../settings/variables' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: $z-header;
    width: 100%;
    height: 130px;
    padding: 0 45px;
    box-sizing: border-box;

    @include md {
        height: 100px;
        padding: 0 20px;
    }

    @include sm {
        height: 80px;
        padding: 0 15px;
    }

    &.is-dark {
        #header-logo {
            filter: brightness(0.1);
        }

        nav a {
            color: $foreground;
        }
    }

    .range {
        padding: 15px;
        border-radius: 50%;

        @include sm {
            padding: 10px;
        }

        #header-logo {
            width: 50px;
            height: 50px;
            transition: filter $transition-normal, transform $transition-fast ease;

            @include sm {
                width: 40px;
                height: 40px;
            }
        }

        span {
            display: inline-block;
            transition: color $transition-normal, transform $transition-fast ease;
        }
    }
}
