@use '../settings/variables' as *;

:root {
    --header-logo-filter: invert(0);
    --header-link-color: #{$background};
}

html.is-animating body:not(.is-work) {
    --header-logo-filter: invert(0);
    --header-link-color: #{$background};
}

html.is-animating body.is-work {
    --header-logo-filter: invert(1);
    --header-link-color: #{$foreground};
}

html:not(.is-animating) header.is-dark {
    --header-logo-filter: invert(1);
    --header-link-color: #{$foreground};
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: $z-header;
    width: 100%;
    height: 130px;
    padding: 0 45px;
    box-sizing: border-box;

    @include md {
        height: 100px;
        padding: 0 20px;
    }

    @include sm {
        height: 80px;
        padding: 0 15px;
    }

    .range {
        padding: 15px;
        border-radius: 50%;

        @include sm {
            padding: 10px;
        }

        #header-logo {
            width: 50px;
            height: 50px;
            filter: var(--header-logo-filter);
            transition: filter $transition-normal, transform $transition-fast ease;

            @include sm {
                width: 40px;
                height: 40px;
            }
        }

        span {
            display: inline-block;
            color: var(--header-link-color);
            transition: color $transition-normal, transform $transition-fast ease;
        }
    }
}
