@use '../variables' as *;

.work {
    background: $background;
}

#work-wrapper {
    padding: 160px 60px 500px;
    margin: 0 auto;
    max-width: 1366px;
    animation: bgw-animation $ease-in-out 1.2s both;
    @include md {
        padding: 90px 60px 400px;
    }
    @include sm {
        padding: 90px 30px 400px;
    }
    @include pc {
        animation: bgw-animation1 $ease-in-out 1.2s both;
    }

    .work-image {
        overflow: hidden;
        border-radius: $radius-md;
        width: 100%;
        height: 100%;
        img {
            border-radius: $radius-md;
            width: 100%;
            height: 100%;
            vertical-align: bottom;
        }
    }

    .work-title-wrapper {
        h2 {
            margin-top: 60px;
            @include sm {
                margin-top: 40px;
                font-size: 40px;
            }
        }
        h5 {
            margin-top: 30px;
            @include sm {
                margin-top: 20px;
            }
        }
    }

    .work-info {
        margin-top: 60px;
        padding: 20px 40px;
        display: flex;
        background: rgba($white, .1);
        border-radius: $radius-xl;
        opacity: 0;
        transform: translateY(150px);
        transition: $ease-out 1s;
        @include sm {
            padding: 20px;
            flex-direction: column;
        }
        &.in-view {
            opacity: 1;
            transform: translateY(0px);
        }
        .info-item {
            margin: 15px 40px 0 0;
            @include sm {
                margin: 10px 20px 5px 0;
            }
            p {
                font-size: 16px;
                @include sm {
                    font-size: 13px;
                }
            }
        }
        .info-play {
            align-self: center;
            margin-left: auto;
            padding: 15px 30px;
            background: rgba($white, 0.1);
            border-radius: $radius-pill;
            transition: all $transition-normal;
            &:hover {
                background: rgba($white, 0.2);
            }
            @include sm {
                position: absolute;
                right: 20px;
                bottom: 30px;
            }
        }
    }
}

#work-wrapper1 {
    color: $foreground;
    padding: 60px;
    margin: -120px auto 0;
    max-width: 1366px;
    @include sm {
        padding: 30px;
        margin: -200px 0 0;
    }

    .work-about {
        padding-bottom: 150px;
        border-bottom: solid 1px #DCDCDC;
        @include md {
            padding-bottom: 100px;
        }
        @include sm {
            padding-bottom: 50px;
        }
        div,h2 {
            max-width: 1080px;
            margin: 0 auto;
        }
        h2 {
            margin-bottom: 60px;
            @include sm {
                margin-bottom: 40px;
            }
        }
        a {
            color: $foreground;
            transition: all $transition-normal;
            &:hover {
                opacity: .5;
            }
        }
    }

    .work-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 150px 0 200px;
        @include md {
            margin: 100px 0;
        }
        @include sm {
            margin: 50px 0;
        }
        .block-image {
            width: 48%;
            height: 48%;
            border-radius: $radius-sm;
            overflow: hidden;
            transform: translateY(150px);
            transition: $ease-out 1s;
            &:nth-child(2n) {
                margin-top: 10%;
                margin-bottom: -5%;
                @include md {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
            @include md {
                margin-top: 10%;
                width: 100%;
                height: 100%;
                margin-bottom: 10%;
            }
            img {
                width: 100%;
                height: 100%;
                opacity: 0;
                vertical-align: bottom;
                transform: scale(1.2);
                transition: transform $ease-out 1s;
            }
            &.in-view {
                opacity: 1;
                transform: translateY(0px);
                img {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    .work-share {
        padding: 150px 0;
        border-top: solid 1px #DCDCDC;
        @include md {
            padding: 100px;
        }
        @include sm {
            padding: 50px;
        }
        h2 {
            text-align: center;
            margin-bottom: 60px;
            @include sm {
                margin-bottom: 40px;
            }
        }
    }
}

.share-link {
    display: flex;
    justify-content: center;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 24px;
        margin: 15px;
        border-radius: $radius-pill;
        transition: all $transition-normal;
        @include sm {
            padding: 10px;
            margin: 10px;
            width: 24px;
            height: 24px;
        }

        &.twi {
            background: $twitter-color;
            border: solid 2px $twitter-color;
            &:hover {
                color: $twitter-color;
            }
        }
        &.face {
            background: $facebook-color;
            border: solid 2px $facebook-color;
            &:hover {
                color: $facebook-color;
            }
        }
        &.line {
            background: $line-color;
            border: solid 2px $line-color;
            &:hover {
                color: $line-color;
            }
        }
        &:hover {
            background: rgba($white, 0);
        }
        span {
            font-size: 28px;
            @include md {
                font-size: 24px;
            }
            @include sm {
                font-size: 20px;
            }
        }
        svg {
            width: 28px;
            fill: currentColor;
            @include md {
                width: 24px;
            }
            @include sm {
                width: 20px;
            }
        }
        h5 {
            margin-left: 16px;
            @include sm {
                display: none;
            }
        }
    }
}

.next {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
