@use '../settings/variables' as *;

.about {
    background: $background;
}

.about-wrapper {
    max-width: 1366px;
    margin: 240px auto 60px;
    padding: 60px;
    color: $foreground;
    pointer-events: none;

    @include sm {
        margin: 150px 0 0;
        padding: 30px;
    }

    .about-logo img {
        position: absolute;
        z-index: 1;
        width: 800px;
        margin: -300px -150px;

        @include md {
            width: 500px;
            margin: -180px -100px;
        }

        @include sm {
            width: 300px;
            margin: -120px -50px;
        }
    }

    .about-title-wrapper {
        position: relative;
        z-index: $z-content;
        text-align: end;

        .about-title {
            background-repeat: no-repeat;
            background-size: 100% 30%;
            background-position: 10px bottom;
            background-image: linear-gradient(135deg, #8DD1FF, #2A5CC1);
            display: inline;

            @include md {
                font-size: 60px;
            }

            @include sm {
                font-size: 48px;
            }
        }

        h4 {
            margin-top: 40px;

            @include md {
                font-size: 28px;
            }

            @include sm {
                font-size: 20px;
                margin-top: 30px;
            }
        }
    }

    .about-content {
        position: relative;
        z-index: $z-content;
        margin: 300px 0 150px;
        text-align: center;

        @include md {
            margin: 240px 0 120px;
        }

        @include sm {
            margin: 150px 0 70px;
        }

        h2 {
            margin-bottom: 60px;

            @include md {
                margin-bottom: 40px;
            }
        }

        a {
            color: $foreground;
            transition: all $transition-normal;
            &:hover {
                opacity: .5;
            }
        }
    }

    .about-block {
        display: flex;
        position: relative;
        z-index: $z-content;

        @include md {
            display: inline;
        }

        .about-tools {
            width: 100%;
            padding: 150px 0;
            border-top: solid 1px #DCDCDC;
            border-bottom: solid 1px #DCDCDC;
            transition: background-size $ease-out 1.2s;

            @include md {
                padding: 100px 0;
            }

            @include sm {
                padding: 50px 0;
            }

            h2 {
                margin-bottom: 60px;

                @include md {
                    margin-bottom: 40px;
                }
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 12px;

                li {
                    background: $white;
                    padding: .4em .6em;
                    border-radius: 6px;
                }
            }
        }
    }
}