@use 'variables' as *;

.list {
    .anm {
        opacity: 0;
        &.in-view{
            animation: block-animation $ease-out .8s both;
            @for $i from 1 through 50 {
                &:nth-child(#{$i}) {
                    animation-delay: 0.08s * $i + .3s;
                }
            }
        }
    }
}

.block {
    .anm {
        opacity: 0;
        &.in-view {
            animation: block-animation $ease-out .8s both;
            animation-delay: .3s
        }
    }
}


// Keyframes
@keyframes block-animation {
    0% {
        transform: translate3d(0,50px,0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}


@keyframes bg-animation {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 450px, 0 750px);
    }
}

@keyframes bg-animation1 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 420px, 0 600px);
    }
}

@keyframes bg-animation2 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 300px, 0 400px);
    }
}

@keyframes bgw-animation {
    0% {
        clip-path: circle(0% at 50% 0);
    }
    100% {
        clip-path: circle(100% at 50% 0);
    }
}

@keyframes bgw-animation1 {
    0% {
        clip-path: circle(0px at 50% 0);
    }
    100% {
        clip-path: circle(1670px at 50% 0);
    }
}

html {
    &.is-changing {
        .transition-fade {
            transition: all $transition-normal;
        }
    }

    &.is-animating {
        .transition-fade {
            opacity: 0;
        }
    }
}