@use '../settings/variables' as *;

// アニメーション定義
@keyframes bg-animation {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 450px, 0 750px);
    }
}

@keyframes bg-animation1 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 420px, 0 600px);
    }
}

@keyframes bg-animation2 {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 300px, 0 400px);
    }
}

@keyframes bgw-animation {
    0% {
        clip-path: circle(0% at 50% 0);
    }
    100% {
        clip-path: circle(100% at 50% 0);
    }
}

@keyframes bgw-animation1 {
    0% {
        clip-path: circle(0px at 50% 0);
    }
    100% {
        clip-path: circle(1670px at 50% 0);
    }
}

// Swup のフェード制御用状態
html {
    &.is-changing {
        .transition-fade {
            transition: all $transition-normal;
        }
    }

    &.is-animating {
        .transition-fade {
            opacity: 0;
        }
    }
}
